<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap-integration.php" colors="true" failOnWarning="true" failOnRisky="true">
    <php>
        <ini name="memory_limit" value="256M"/>
    </php>
    <testsuites>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
